# Configuración de la Base de Datos (Plantilla)
DB_DRIVER="ODBC Driver 17 for SQL Server"
DB_SERVER=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_TRUST_CERTIFICATE="yes"

# Cadena de conexión completa
DATABASE_URL=
